<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zlyc.www">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />

<!--    新闻-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>    <!-- 如果需要精确定位的话请加上此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.login.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.home.HomeActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.my.AccountActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.my.MyTeamActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.security.SecurityActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.security.ModifyPwdActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.security.CapitalSetActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.security.AuthenticationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.security.CollectionActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.security.AddressEditActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.security.AddressSetActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.login.ForgetActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.shop.GoodsDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.team.InvitationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.team.InvitationRankingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.shop.OrderListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.shop.OrderDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.account.MyBillActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.otc.MyOtcListActivity"
            android:windowSoftInputMode="adjustPan" />


<!--        新闻流-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/vlion_file_provider"/>
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false"
            />
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/vlion_file_provider"/>
        </provider>

    </application>

</manifest>